html {
	height: 100%;
}

body {
	height: 100%;
}

h1 {
	color: white;
}

#page-wrapper {
	height: 100%;
	background-color: gray;
}


#machine-wrapper {
	background-color: lightgray;
}


.bordered{
	border: 2px dashed yellow!important;
	padding: -2px!important;
}